@import '../../assets/styles/constants.scss';
@import '../../assets/styles/fonts.scss';

.quienessomos {
  font-size: 50px;
  position: absolute;
  
  &__visionTitulo{
    margin-top: 450px;
  }
  
 
  
}