@import '../../assets/styles/constants.scss';
@import '../../assets/styles/fonts.scss';

.quienessomos {
  position: relative;
  font-family: $questrial;
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 170px;
  font-size: 30px;
  line-height: 37px;
  text-align: justify;

  &__nosotros{
    display: flex;
    flex-direction: row;
    &__visionmision{
      display: flex;
      flex-direction: column;
      &__visionTitulo{
        font-size: 50px;
        color: #1E3D85;
        margin-left: 40px;
      }
      &__misionTitulo{
        font-size: 50px;
        color: #1E3D85;
        margin-left: 40px;
      }
      &__visiontexto{
        color: #111111;
        width: 650px;
        margin-left: 90px;
        margin-top: 15px;
      }
      &__misiontexto{
        color: #111111;
        width: 650px;
        margin-left: 90px;
        margin-top: 15px;
      }
    }
    &__fiestas{
      padding-left: 110px;
      width: 800px;
      height: 100%;
      margin-top: 100px;
    }
  }
  &__resena{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    &__mapa{
      margin-left: 200px;
      width: auto;
      height: 800px;
      margin-top: 105px;
    }
    &__historia{
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      &__titulo{
        padding-left: 70px;
        font-size: 50px;
        color: #1E3D85;
      }
      &__texto{
        color: #111111;
        width: 650px;
        margin-left: 115px;
      }
    }
  }
}


@media only screen and (min-width: 851px) and (max-width: 1351px){
  .quienessomos{
    margin-left: 90px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 250px;
    &__nosotros{
      &__visionmision{
        &__visionTitulo{
          font-size: 30px;
        }
        &__misionTitulo{
          font-size: 30px;
        }
        &__visiontexto{
          width: 400px;
        }
        &__misiontexto{
          width: 400px;
        }
      }
      &__fiestas{
        width: 550px;
        margin-left: 40px;
      }
    }
    &__resena{
      &__mapa{
        width: 340px;
        height: 456px;
        margin-left: 100px;
        margin-top: 60px;
      }
      &__historia{
        margin-left: 65px;
        &__titulo{
          font-size: 30px;
          margin-left: 0px;
          margin-bottom: 20px;
          margin-top: 0;
        }
        &__texto{
          width: 400px;
          margin-left: 136px;
        }
      }
    }
  }
}