@import './../../../assets/styles/fonts.scss';

.event{
  display: flex;
  flex-direction: row;
  font-family: $questrial;
  border-top: 1px solid #6A7E8A;
  color: black;
  width: 985px;
  height: 131px;
  &__image{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 60px;
  }

  &__date{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 25px;
    &__day{
      font-size: 44px;
      margin-bottom: 20px;
    }
    &__month{
      font-size: 28px;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 25px;
    width: 300px;
    &__name{
      font-size: 26px;
      margin-bottom: 20px;
      line-height: 30px;
      display: flex;
      align-items: flex-end;
    }
    &__type{
      font-size: 20px;
    }
  }

  &__time{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 150px;
    &__hour{
      font-size: 32px;
      margin-bottom: 20px;
    }
    &__period{
      font-size: 32px;
    }
  }

}

@media only screen and (min-width: 851px) and (max-width: 1351px){

.event{
  width: 635px;
  height: 110px;
  &__image{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 50px;
  }

  &__date{
    margin-right: 15px;
    margin-left: 25px;
    margin-top: 20px;
    &__day{
      font-size: 24px;
      margin-bottom: 15px;
    }
    &__month{
      font-size: 20px;
    }
  }

  &__info{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
    &__name{
      font-size: 20px;
      margin-bottom: 15px;
      line-height: 25px;
    }
    &__type{
      font-size: 15px;
    }
  }

  &__time{
    margin-top: 20px;
    margin-left: 55px;
    &__hour{
      font-size: 18px;
      margin-bottom: 15px;
    }
    &__period{
      font-size: 18px;
    }
  }

}
}