@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/constants.scss';

.homePage {
  font-size: 50px;
  margin-top: 210px;
  width: 100%;
}

.title {
  font-family: $questrial;
  font-size: 50px;
  line-height: 51px;
  color: $color-blue;
  margin: 6% 0 2% 210px;
}

.buttonGroup {
  position: relative;
  width: 50%;
  margin: 0 25% 0 25%;
}

.container {
  position: relative;
  width: 50%;
  margin: 10px 0 0 0;
}

.container img {
  width: 100%;
  height: 200px;
  opacity: 0.6;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: $color-backgrount-black;
  color: $color-white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 0%;
  border-radius: 0%;
}

.container .btn:hover {
  background-color: $color-blue;
  color: $color-white;
}

@media only screen and (min-width: 851px) and (max-width: 1351px){
  .title {
    font-size: 30px;
    margin: 4% 0 2% 90px;
  }
}