@import './../../../assets/styles/fonts.scss';

.contact{
    display: flex;
    flex-direction: column;
    border-right: 3px solid #FFE000;
    width: 350px;
    margin-top: 10px;
    &__data{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 20px;
        &__info{
            color: black;
            font-family: $questrial;
            font-size: 20px;
            margin-left: 28px;
        }
        &__img{
            width: 40px;
            height: 40px;
            margin-top: 10px;
        }
    }
}