// COLORS
// Use the color name given by this website: http://chir.ag/projects/name-that-color/

$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #FF0000;
$color-blue: #1E3D85;
$color-pink: #ff99ff;
$color-yellow: #FFE000;
$color-backgrount-black: #2D2D2D;
$color-transparent: transparent;
$color-cerulean: #0099E5;
$color-mango-tango: #E77C00;
$overlay-mango-tango: rgba(231, 124, 0, 0.8);
$overlay-gray : rgba(255, 255, 255, 0.5);
$overlay-black : rgba(0, 0, 0, 0.25);
$color-mine-shaft: #383838;
$color-alto: #D8D8D8;
$transparent-black : rgba(0, 0, 0, .60);
$color-concrete: #F2F2F2;
$navbar-color: rgba(59, 84, 110, 0.801);
$color-gallery: #EFEFEF;
$color-crimson: #ED1C24;
$color-silver: #C1C1C1;
$color-sepia-skin: #9B6D36;
$color-gray: #969696;
$color-backgrount-event: #4949494b;
$color-future-event: rgb(179, 177, 177);
$color-past-event: rgb(168, 168, 168);
$color-light-grey: rgba(130, 130, 130, 0.5)
