@import '../../assets/styles/constants.scss';
@import '../../assets/styles/fonts.scss';
.events{
  position: relative;
  margin-left: 210px;
  margin-top: 300px;
  font-family: $questrial;
  &__grid{
    overflow-y: auto;
    width: 985px;
    height: 393px;
    margin-left: 100px;
  }
  &__title{
    font-size: 50px;
    line-height: 51px;
    color: $color-blue;
    width: 400px;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1351px){
  .events{
    margin-left: 130px;
    margin-top: 250px;
    &__grid{
      overflow-y: auto;
      width: 635px;
      height: 330px;
      margin-left: 70px;
    }
    &__title{
      font-size: 30px;
    }
  }
}