@import './../../../assets/styles/fonts.scss';

.social{
    display: flex;
    flex-direction: row;
    border-right: 3px solid #FFE000;
    margin-left: 45px;
    margin-top: 10px;
    margin-right: 20px;
    &__img{
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-right: 25px;
    }

}